src/main/resources/META-INF/schema/config/rest-template.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
           targetNamespace="https://github.com/vishal-kedia/rest-maven-plugin/v1.0"
           xmlns:rest-template="https://github.com/vishal-kedia/rest-maven-plugin/v1.0"
           xmlns:html="http://www.w3.org/1999/xhtml"
           xmlns:atom="http://www.w3.org/2005/Atom"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xerces="http://xerces.apache.org"
           xmlns:saxon="http://saxon.sf.net/"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <!-- Client User Identity Configuration -->
    <xs:element name="rest-template" type="rest-template:RestTemplateConfig" />
    <xs:complexType name="RestTemplateConfig">
        <xs:sequence>
            <xs:element name="rest-service" type="rest-template:RestServiceConfig" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RestServiceConfig">
        <xs:sequence>
            <xs:element name="api" type="rest-template:ApiConfig" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ApiConfig">
    	<xs:sequence>
            <xs:element name="http-request-param" type="rest-template:HttpParam" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="http-request-body" type="rest-template:HttpBody" minOccurs="0" maxOccurs="1" />
            <xs:element name="http-response-body" type="rest-template:HttpBody" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="http-method" type="rest-template:HttpMethod" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="HttpParam">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="default" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="HttpBody">
        <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:simpleType name="HttpMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GET"/>
            <xs:enumeration value="PUT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>